*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100%;
    padding: 0 200px;
}
img{
    height: 60px;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    font-size: 20px;
}
header div a{
    text-decoration: none;
    color: white;
}
header div button{
    height: 50px;
    width: 110px;
    border-radius: 10px;
    border: none;
    background: white;
    font-weight: bold;
}
video{
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section h2{
    color: white;
    margin-bottom: 30px;
    padding: 150px 470px 0;
}
section div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 500px;
    background: white;
    border-radius: 5px;
}
.first{
    height: 42px;
    width: 100px;
    margin-left: 10px;
    background: #d6d6d6;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
}
.first img{
    height: 30px;
    margin-right: 5px;
}
section div form input{
    border: none;
    height: 42px;
    width: 300px;
}
.second{
    background: white;
    border: none;
    margin-right: 25px;
}
.second img{
    height: 25px;
}